.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    /* Add more styles as needed */
}


#profile {
    text-align: center;
    padding: 100px 0;
    background-color: #333;
    color: white;
}


#about {
    padding: 80px 0;
}


#about h2 {
    text-align: center;
}


#projects {
    padding: 80px 0;
    background-color: #f4f4f4;
}


#projects h2 {
    text-align: center;
}


.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}


#skills {

}


#contact {
    padding: 80px 0;
    
}


#contact h2 {
    text-align: center;
}


#contact form {
    max-width: 500px;
    margin: 0 auto;
}


#contact-form label {
    display: block;
    margin-bottom: 5px;
}


#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}


#contact-form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}